
.navbar {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 9pt;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;

  a {
    color: $light-navbar-item-color;

    &.active {
      color: $light-navbar-active-color;
    }

    &:hover {
      background: transparent;
    }
  }

  .header-logo {
    font-size: 10pt;

    a {
      padding: 0;
      i {
        line-height: 2em;
      }
    }
  }

  .menu {
    a {
      padding: 0 12px;
    }
  }

  .navbar-header a:hover {
    background-color: transparent;
  }
}
